<!DOCTYPE html>
{% load static %}
{% static "css/style.css" as style %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{style}}">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <title>Tik Tok {% block title %}{% endblock %}</title>
</head>

<body>
<div id="menu">
    <div id="menuItemContainer">
        <a href="/"> <div class="menuItemLeft" > Tik Tok</div> </a>

        {% if user.is_authenticated %}
        <a href="{% url 'user:detail' user.id  %}"> <div class="menuItemRight"> Konto</div> </a>
        <a href="{% url 'submits:index'   %}"> <div class="menuItemRight"> Zgłoszenia</div> </a>
        {% else %}
        <a href="{% url 'user:login'  %}"> <div class="menuItemRight"> Logowanie</div> </a>
        <a href="{% url 'user:register'  %}"> <div class="menuItemRight"> Rejestracja</div> </a>
        {% endif %}

        <a href="{% url 'user:ranking' request.session.group|default:'MAIN' %}"> <div class="menuItemRight"> Ranking</div> </a>
        <a href="{% url 'problems:index'  request.session.group|default:'MAIN' %}"> <div class="menuItemRight"> Problemy</div> </a>
		
		<a href="{% url 'problems:groups' %}"> <div class="menuItemRight"> {{ request.session.group|default:"MAIN" }}</div> </a>


    </div>

</div>

<div id="content">
    <div id="contentPage">
    <h2>{% block header %}{% endblock %}</h2>
    {% block content %}

    {% endblock %}
    </div>
</div>
</body>

</html>
