@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fonts/gk5FxslNkTTHtojXrkp-xEJPC2cKjh6GZZV1qHWxw94.woff2) format('woff2');
}
html
{
overflow-y:scroll;
}
html, body
{
    margin: 0;
    padding: 0;
     height: 100%;
      min-height: 100%;

}

a
{
 text-decoration: none;
 color: #B00;
 }
a:visited
{
 color: #B00;
}
a:hover
{
    color:#F00;
}
#menu
{
    font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
    position: fixed;
    left:0;
    top:0;
	background-color: #333;
	margin:0 auto;
	padding: 0;
	height: 35px;
}
#menu a
{
    color: white;
    font-size: 24px;
}
#menu a:hover
{
    color: black;
}

#menuItemContainer
{

    max-width: 800px;
    margin: 0 auto;
}

.menuItemLeft
{

    height: 35px;
    width: 100px;
    float:left;
    background-color: #333;
}
.menuItemLeft:hover
{
    background-color:white;

}
.menuItemRight
{

    height: 35px;

    width: 100px;
    float:right;

    text-align: center;
    background-color: #333;
}
.menuItemRight:hover
{
    background-color:white;
}

#submitsTable
{
    width: 100%;
}
#submitsTable .click:hover
{
    background-color: #EEE;
    cursor: pointer; cursor: hand;
}
#userTable
{
    width: 100%;
}

#userTable .click:hover
{
    background-color: #EEE;
    cursor: pointer; cursor: hand;
}
.my_table
{
padding:10px;
}

#content
{
    font-family: 'Open Sans', sans-serif;
    background-color: #111;


    width: 100%
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    }
.xx
{
}

#contentPage
{
    background-color: #fff;

	width: 800px;
	margin: 0 auto;
    padding-top:35px;

     min-height:100%;

}

#contentPage h2
{
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}
#contentPage p
{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom:5px;
}

#contentPage hr
{
height:3px; border:none; color:#111; background-color:#111;
}
.news
{

}

.newsDetail
{
text-align: right;
font-size: 12px;
}

.comment
{
margin-top:0px;
}

.commentDetail
{
padding-left:30px;
text-align: left;
font-size: 12px;

}
.my_iframe
{

    border:none;
    width: 100%;
    height: 400px;
    margin-top: -8px;
    margin-bottom: -14px;
}

.stan
{
width: 100px;}
.id_field
{
width: 100px;}
form
{


    width: 100%;
    text-align: center;
    margin-bottom:10px;
}
form table
{
    width: 90%
}
table td
{
text-align: center;
}
input
{
    width:100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
textarea
{
    width:100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
input[type=submit]
{
    width: 150px;
}

.pagination
{
text-align: center;
width:100%;
margin-bottom:10px;
}