{% extends 'base.html' %}
{% block title %}Ranking {{group.name }} {% endblock %}
{% block header %}Ranking {{group.name }}  {% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

    <table class="my_table"  id="userTable">
    <tr>
        <td> Miejsce</td>
        <td> Użytkownik</td>
        <td> Zadania</td>
        <td width="50%"> Powiedzonko</td>
    </tr>
    {% for entry in my_list %}
        <tr>
            <td>{{ my_list.start_index|add:forloop.counter0 }}</td>
            <td> <a href="{% url 'user:detail' entry.my_user.user.id%}"> {{ entry.my_user.user.username }}</a> </td>
            <td> {{entry.did}}</td>
            <td> {{entry.my_user.motto}}</td> 

        </tr>
    {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if my_list.has_previous %}
            <a href="?page={{ my_list.previous_page_number }}"> poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ my_list.number }} z {{ my_list.paginator.num_pages }}.
        </span>

        {% if my_list.has_next %}
            <a href="?page={{ my_list.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>


{% endblock %}









