{% extends 'base.html' %}
{% block title %}Zgłoszenia rozwiązań {% endblock %}
{% block header %}Zgłoszenia rozwiązań {% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

{% if submits_list %}

    <table class="my_table"  id="submitsTable">
        <tr>
            <td class="id_field">ID</td>
            <td>Problem</td>
            <td>Data</td>
            <td class="stan">Stan</td>

        </tr>
        {% for submit in submits_list %}

        <tr class="click" onclick="document.location = '{% url 'submits:detail' submit.id %}';" >
            <td><a href="{% url 'submits:detail' submit.id %}">{{submit.id}}</a></td>
            <td><a href="{% url 'submits:detail' submit.id %}">{{submit.problem.name}}</a></td>
            <td>{{submit.pub_date|date:"H:i d/m/Y"}}</td>

            {% if not submit.executed and not submit.is_executing %}
                <td>W kolejce</td>
            {% endif %}
            {% if not submit.executed and submit.is_executing %}
                <td>Wykonywane</td>
            {% endif %}
            {% if submit.executed and submit.accomplishment %}
                <td>OK</td>
            {% endif %}
            {% if submit.executed and  not submit.accomplishment %}
                <td>Błąd</td>
            {% endif %}
           <!-- <td>{{submit.executed| yesno:"Tak,Nie" }}</td>
            <td>{{submit.is_executing| yesno:"Tak,Nie" }}</td>
            <td>{{ submit.accomplishment | yesno:"Tak,Nie" }}</td>-->
        </tr>
        {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if submits_list.has_previous %}
            <a href="?page={{ submits_list.previous_page_number }}"> poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ submits_list.number }} z {{ submits_list.paginator.num_pages }}.
        </span>

        {% if submits_list.has_next %}
            <a href="?page={{ submits_list.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>

{% else %}
    <p>Brak zgłoszeń.</p>
{% endif %}

{% endblock %}









