{% extends 'base.html' %}
{% block title %}Konto użytkownika{% endblock %}
{% block header %}Konto użytkownika{% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}
{% if user.is_authenticated %} 
	<a href="{% url 'user:detail' user.id%}">Zobacz profil</a> <br />
	<a href="{% url 'user:edit'%}">Edytuj profil</a> <br />
	<a href="{% url 'user:logout'%}">Wyloguj</a>
{% else %}
	<a href="{% url 'user:login'%}">Zaloguj</a><br />
	<a href="{% url 'user:register'%}">Zarejestruj</a>
{% endif %}

{% endblock %}










