{% extends 'base.html' %}
{% block title %}Ranking {% endblock %}
{% block header %}Ranking {% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

    <table class="my_table"  id="userTable">
    <tr>
        <td> Miejsce</td>
        <td> Użytkownik</td>
        <td> Zadania</td>
        <td width="50%"> Powiedzonko</td>
    </tr>
    {% for my_user in my_user_list %}
        <tr>
            <td>{{ my_user_list.start_index|add:forloop.counter0 }}</td>
            <td> <a href="{% url 'user:detail' my_user.user.id%}"> {{ my_user.user.username }}</a> </td>
            <td> {{my_user.accomplishments}}</td>
            <td> {{my_user.motto}}</td>

        </tr>
    {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if my_user_list.has_previous %}
            <a href="?page={{ my_user_list.previous_page_number }}"> poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ my_user_list.number }} z {{ my_user_list.paginator.num_pages }}.
        </span>

        {% if my_user_list.has_next %}
            <a href="?page={{ my_user_list.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>


{% endblock %}









