{% extends 'base.html' %}
{% block title %}Nowy problem{% endblock %}
{% block header %}Nowy problem <a href="{% url 'problems:index' group.shortname %}">{{group.name}}</a>{% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

{{message}}
<form enctype="multipart/form-data"  action="{% url 'problems:create'%}" method="post">
{% csrf_token %}
    <table>
	<tr><td>Konkurs</td><td>{{group.name}}</td>
	{{ form.as_table }}</table>
<br />
<input type="submit" value="Utwórz" />
</form>
{% endblock %}



