{% extends 'base.html' %}
{% block title %}Zmień nazwę problemu {{problem.name}}{% endblock %}
{% block header %}Zmień nazwę problemu <a href="{% url 'problems:detail' problem.id %}">{{problem.name}}</a> {% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

{{message}}
<form enctype="multipart/form-data"  action="{% url 'problems:edit_name' problem.id %}" method="post">
{% csrf_token %}
    <table>{{ form.as_table }}</table>
<br />
<input type="submit" value="Zmień" />
</form>
{% endblock %}



