{% extends 'base.html' %}
{% block title %}Przywileje {{group.name}}{% endblock %}
{% block header %}Przywileje <a href="{% url 'problems:index' group.shortname %}">{{group.name}}</a> {% endblock %}



{% block bonusAction %}

{% endblock %}


{% block content %}

{{message}}
<form enctype="multipart/form-data"  action="{% url 'problems:privileges' group.shortname %}" method="post">
{% csrf_token %}
<input type="submit" value="Generuj nowy" />
</form>

{% if privileges_list %}
    <table>
	<tr><td> Dla</td><td>Wykorzystane</td><td>hash</td><td>Akcja</td></tr> 
    {% for privilege in privileges_list %}
        <tr><td>{% if privilege.sent == '' %} OTWARTY {% else %}{{ privilege.sent }} {% endif %}</td>
		<td>{% if privilege.used == False %}  NIE {% else %} <a href="{% url 'user:detail' privilege.user.id %}"> {{privilege.user}}</a> {% endif %} </td>
		<td>{{privilege.hash}}</td><td><a href="{% url 'problems:delete_privilege' group.shortname privilege.hash %}">usuń</a></td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Brak wolnych przywilejów.</p>
{% endif %}

{% endblock %}



